[user]
	name = Cheolseung Jung
	email = jungcheolseung@gmail.com
[color]
	ui = auto
[core]
	editor = vim
[alias]
    lg = log --graph --pretty='%C(dim)%h%Creset -%C(auto)%d%Creset %s %C(green)(%cr)%Creset %C(blue)<%aN>%Creset' --all
    pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[log]
	mailmap = true
[mailmap]
	file = ~/.mailmap
[includeIf "gitdir:~/samsung/"]
	path = ~/.gitconfig-samsung
